@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --Grayish_blue: hsl(237, 18%, 59%);
  --Soft_red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 71%);
  --Dark_desaturated_blue: hsl(236, 21%, 26%);
  --Very_dark_blue: hsl(235, 16%, 14%);
  --Very_dark_black_blue: hsl(234, 17%, 12%);

  --h-text: 1.6rem;
  --p-text: 4rem;
  --s-text: 0.9rem;

  /* Custom shape dimensions */
  --circle-width: 0.55em;
  --circle-height: 0.85em;
}

.countdown-container{
  font-family: "Red Hat Text", sans-serif;
}

.h1-heading {
  font-size: var(--h-text);
  font-weight: 700;
  color: var(--White);
  letter-spacing: 0.4ch;
  /* margin-bottom: -9rem; */
}

.entropy-heading{
  color: hsl(345, 95%, 68%);
  display: inline;
}

.primary {
  font-size: var(--p-text);
  color: var(--Soft_red);
  text-align: center;
}

.sub-heading {
  font-size: var(--s-text);
  color: var(--Grayish_blue);
  text-align: center;
  letter-spacing: 0.5ch;
  margin-top: 1em;
}

.center {
  align-self: flex-end;
  text-align: center;
}

.countdown-timer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.2em;
  flex-wrap: nowrap;
}

/* .countdown-info {
  display: flex; 
  flex-direction: column;
  align-items: center;
} */

.timer-box {
  width: 6.7rem;
  padding: 0.8rem;
  text-align: center;
  background-color: var(--Dark_desaturated_blue);
  position: relative;
  border-radius: 0.25em;
}

.sheet {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--Very_dark_blue);
  opacity: 0.35;
}

.flip {
  transition: transform 1s;
  transform: translate(0%, 100%) scaleY(-1);
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}


.circle-left {
  width: var(--circle-width);
  height: var(--circle-height);
  position: absolute;
  background-color: var(--Very_dark_black_blue);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 45%;
  left: 0;
}

.circle-right {
  width: var(--circle-width);
  height: var(--circle-height);
  position: absolute;
  background-color: var(--Very_dark_black_blue);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  top: 45%;
  right: 0;
}


/* @media (min-width: 430px) {
  :root {
    --h-text: 1.25rem;
    --p-text: 2rem;
    --s-text: 0.5rem;

    --circle-width: 0.35em;
    --circle-height: 0.65em;
  }

  .timer-box {
    width: 5rem;
    padding: 0.75rem;
  }
}

@media (min-width: 550px) {
  :root {
    --p-text: 3rem;
    --s-text: 0.75rem;

    --circle-width: 0.4em;
    --circle-height: 0.7em;
  }

  .timer-box {
    width: 6rem;
    padding: 0.75rem;
  }
}

@media (min-width: 800px) {
  :root {
    --p-text: 4rem;
  }

  .timer-box {
    width: 8rem;
    padding: 1rem;
  }
} */
