.slider {
  width: 85vw;
  border-radius: 15px;
  height: 60vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
  align-items: center;
  justify-content: center;
}

.list-item {
  height: 100%;
  object-fit: cover;
}

.buttons-container {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.button-style {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;
}

.dot-item {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot-active {
  background-color: #717171;
  width: 30px;
  border-radius: 40%;
}

@media screen and (min-width: 760px) and (max-width: 1025px) {
  .slider {
    width: 55vw;
    height: 55vh;
  }
}
