* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
} 

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #a43a85e9;
}



.merch-body {
    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--text-color);
    
}

.merch-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.merch-logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.merch-logo:hover {
    transform: scale(1.1);
}

.merch-logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.merch-navbar {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.merch-navbar a.hover,
.merch-navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#merch-menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.merch-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.merch-home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: -3rem;
}

.merch-home-content span {
    color: var(--main-color);
}

.merch-home-content h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.1rem;
}

.merch-home-content h1 {
    width: 600px;
    font-size: 4.8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.merch-home-img {
    border-radius: 20%;
}

.merch-home-img img {
    @media( max-width:1680px) {
        scale: 1.8;
    }
    width: 46vw;
    border-radius: 20%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.merch-home-img img:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

.merch-home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.merch-social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem;
    transition: 0.3s ease-in-out;
}

.merch-social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.merch-btn {
    scale: 0.8;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #9d107a;
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 5rem;
    font-size: 2.4rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-left:145px;
}

.merch-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px var(--main-color);
}

.merch-btn-group {
    display: flex;
    gap: 1.5rem;
}

.merch-text-animation span {
    position: relative;
    color: var(--main-color);
    animation: words 20s infinite;
}

.merch-text-animation span::after {
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@media (max-width: 1280px) {
    html {
        font-size: 55%;
    }
    .merch-home-content h1 {
        font-size: 6.5rem;
    }
    .merch-home-content p {
        font-size: 2rem;
        max-width: 800px;
    }
    .merch-home-img img {
        width: 50vw;
    }
}

@media (max-width: 1100px) {
    #merch-menu-icon {
        display: block;
    }
    .merch-home {
        flex-direction: column;
        gap: 2rem;
        margin: 5rem 2rem;
    }
    .merch-home-content h1 {
        font-size: 5rem;
    }
    .merch-home-content h3 {
        font-size: 3.8rem;
    }
    .merch-home-content p {
        font-size: 2.7rem;
    }
    .merch-home-content  {
       
        margin-top: 100px;
        max-width: 400px;
    }
    .merch-home-img img {
        width: 40vw;
        height: 20vh;
        margin-bottom: 50px;
    }

    .merch-btn{
        margin-top: 30px;
        scale:1.3;
    }
}
